.custom-button {
    background-color: white;
    color: #333;
    cursor: pointer;
}

.custom-button.disabled {
    color: #aaa;
    cursor: not-allowed;
    opacity: 0.6;
}

.beadInfoText {
    font-weight: bold;
    color: white;
}

.colorRect {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    margin-right: 6px;
}

.colorLegendWrapper {
    display: flex;
    align-items: center
}