.custom-button {
    background-color: white;
    color: #333;
    cursor: pointer;
}

.custom-button.disabled {
    color: #aaa;
    cursor: not-allowed;
    opacity: 0.6;
}

.beadInfoText {
    font-weight: bold;
    color: white;
}

.colorRect {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    margin-right: 6px;
}

.colorLegendWrapper {
    display: flex;
    align-items: center
}

.beadInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: end;
    z-index: 10;
    margin-top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.beadInfoContainer.show {
    opacity: 1;
    visibility: visible;
}

.beadInfoContainer.hide {
    opacity: 0;
    visibility: hidden;
}